html {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fefefe;
  color: #000;
  font-family: 'Roboto Slab';
  font-size: 100%;
}
td, th {
  border: 1px solid #ccc !important;
}
h1 {
  border-bottom: 3px solid #000 !important;
}
h2 {
  border-top: 3px solid #000 !important;
}
h1, h2, h3, h4, h5 {
  font-weight: 700;
}
pre {
  margin: 1em !important;
  padding: 0 !important;
}
pre, * {
  background-color: #fefefe !important;
  color: #000 !important;
}
a {
  color: #000066 !important;
}
.signal-high {
  border-top: 2px solid #000;
}
code {
  color: #000;
  font-family: 'Roboto Mono';
  font-weight: 500;
}
