html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fefefe;
  color: #000;
  font-family: "Roboto Slab";
  font-size: 16px;
  max-width: 68rem;
  margin: 1em auto;
}

p {
  margin: 1em 0;
  text-align: justify;
}

table,
canvas,
svg {
  margin: auto !important;
  padding: 0;
}

table {
  border: 3px solid #000;
  margin: 1em 0;
}

canvas,
svg {
  display: block;
}

a:hover {
  text-decoration: none !important;
}

td,
th {
  border: 1px solid #ccc !important;
}

.toc>ul {
  padding-left: 0;
  padding-top: 2rem;
}

ul>li>ul {
  margin-bottom: 1.5rem;
}

figure {
  padding: 1.5rem 0 0 0;
}

figure figcaption {
  margin: 0.5rem 0 0 0;
}

.centered p {
  text-align: center;
}

h1 {
  margin-top: 3rem;
  border-bottom: 3px solid #000 !important;
  padding-bottom: 2px;
  margin-bottom: 5px;
}

h1+* {
  margin-top: 0;
  padding-top: 1rem;
  border-top: solid 2px #000;
}

h1+h2 {
  margin-top: 0;
}

h2 {
  line-height: 2rem;
  margin: 3rem 0 0.25rem 0;
}

ul {
  list-style: none;
}

ol {
  padding-left: 0;
  margin-left: 2rem;
}

ol li {
  margin: 0.8rem 0;
}

ul+h2,
p+h2 {
  margin-top: 2rem;
}

em strong {
  padding-right: 0.2rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

pre {
  margin: 1em !important;
  padding: 0 !important;
}

pre,
code {
  background-color: #fefefe !important;
  color: #000 !important;
}

a,
a pre,
a code {
  color: #207cac !important;
}

code {
  color: #000;
  font-family: "Roboto Mono";
  font-weight: 500;
}

.warning-box {
  border: 3px solid #000;
  display: block;
  padding: 0.75em;
}

/* SVG */

svg,
.shadow-svg {
  fill: none;
  stroke: #000;
}

svg text,
.shadow-svg text {
  fill: #000;
  stroke: none;
}

#amstrad-logo path,
#amstrad-a {
  stroke: #000;
  stroke-width: 2;
  fill: #fefefe;
}

svg .open,
.shadow-svg .open {
  stroke: #000;
  stroke-width: 2.5;
  fill: none;
}

svg .thick,
.shadow-svg .thick {
  stroke: #000;
  stroke-width: 2.5;
  fill: #fefefe;
}

svg .thin,
.shadow-svg .thin {
  stroke: #000;
  stroke-width: 1.5;
  fill: #fefefe;
}

svg .filled,
.shadow-svg .filled {
  fill: #000;
}

svg .dashed,
.shadow-svg .dashed {
  stroke-dasharray: 5, 2.5;
}

svg .hairline,
.shadow-svg .hairline {
  stroke: #000;
  stroke-width: 0.8;
  fill: #fefefe;
}

svg .closed,
.shadow-svg .closed {
  stroke: #000;
  stroke-width: 2.5;
  fill: #000;
}

kbd {
  background: transparent;
  border: none;
  margin: inherit;
  padding: inherit;
  color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: none;
  line-height: inherit;
}

svg .fillonly {
  stroke: none;
  fill: #000;
}

svg .lightfill {
  fill: #ddd;
}

svg line {
  stroke: #000;
  stroke-width: 3;
}

.connector .pin {
  font-size: 12px;
  font-weight: bold;
  text-anchor: center;
}

.connector.edge rect {
  fill: #fefefe;
  stroke: #000;
  stroke-width: 2;
}

.connector.edge text {
  text-anchor: middle;
}

.connector.bsjack path {
  stroke: #000;
  stroke-width: 3;
  fill: #fefefe;
}

.bsjack text {
  stroke: none;
  fill: #000;
  font-size: 20px;
  font-weight: bold;
  text-anchor: middle;
}

.bsjack rect {
  fill: #000;
  stroke-width: 2;
}

figcaption {
  display: block;
  visibility: visible;
  text-align: center;
}

.signal-high {
  border-top: 2px solid #000;
}

.guide {
  stroke: black;
  stroke-dasharray: 5, 2;
}

.base {
  stroke: black;
  stroke-width: 0.3;
}

.wave {
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-miterlimit: 1;
  fill: none;
}

svg rect,
svg line {
  stroke: #000;
  stroke-width: 2.5px;
  ;
}

figure {
  margin: 1em 0;
}

.rom-diagram .dec {
  text-anchor: end;
}

.rom-diagram .hex {
  text-anchor: start;
}

.rom-diagram .bank {
  text-anchor: middle;
}

.rom-diagram path {
  fill: none;
}

#paging-diagram text {
  font-weight: bold;
  text-anchor: middle;
}

#paging-diagram rect {
  stroke: black;
  stroke-width: 2.5;
  fill: none;
}

#paging-diagram .arrow {
  font-size: 150%;
}

#vdu text {
  font-size: 18px;
  font-weight: bold;
  text-anchor: middle;
}